@(proposal: Proposal, merchant: Merchant)

@main("Welcome to Play") {

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">@merchant.name</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Обзор</a></li>
                            <li><a href="#">Условия</a></li>
                            <li><a href="http://@merchant.site">@merchant.site</a></li>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">@proposal.subject</h1>
                    <h3 class="lead">@proposal.description</h3>
                    <p class="lead">@proposal.price</p>
                    <p class="lead">@proposal.discount</p>
                    <p class="lead">@proposal.effectivePrice</p>
                    <p class="lead">@proposal.economy</p>
                    <p class="lead">@proposal.timeLeft.getMonths месяцев : @proposal.timeLeft.getDays дней : @proposal.timeLeft.getHours : @proposal.timeLeft.getMinutes </p>
                    <img class="img-responsive" src="@proposal.image">
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
}
