@(currentPage: models.paging.Page[Merchant])(implicit flash: play.api.mvc.Flash)
@import models.paging._
@****************************************
* Helper generating navigation links *
****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.MerchantsController.listMerchants(newPage, newOrderBy.map { orderBy =>
            if(orderBy == scala.math.abs(2)) -2 else orderBy
        }.getOrElse(2), "")
    }

    @pages(page: Page[Merchant]) = {
        @for(idx <-1 to page.pageCount) {
            @if(idx==(page.page+1)){
                <li class="active">
            }else{
                <li>
            }
                <a href="@link(idx-1)">@idx</a>
                </li>
        }
    }


@main("GuideMe Merchants") {

    <form action="/merchants" method="POST" class="form-control">
        <!-- input name="id" type="text" placeholder="enter id" hidden="true"/ -->
        <input name="name" type="text" placeholder="enter merchant name"/>
        <input name="description" type="text" placeholder="enter description"/>
        <input name="site" type="text" placeholder="enter terms"/>
        <input type="submit"/>
    </form>

    <h2>Previously inserted Merchants:</h2>
    @Option(currentPage.items).filterNot(_.isEmpty).map { merchantsMap =>
    <table class="table">
        <tr><th>id</th> <th>subject</th> <th>description</th> <th>site</th></tr>

        @merchantsMap.map {
            case (p) => {
                <tr><td>@p.id</td> <td>@p.name</td> <td>@p.description</td> <td>@p.site</td></tr>
            }
        }
    </table>

    <div class="box-content">
        <div class="col-sm-6">
            <div id="datatable-2_info" class="dataTables_info">Showing @(currentPage.offset + 1) to @(currentPage.offset + merchantsMap.size) of @currentPage.total</div>
        </div>
        <div class="col-sm-6 text-right">
            <ul class="pagination">
                @currentPage.prev.map { page =>
                <li><a href="@link(page)">&laquo;</a></li>
                }.getOrElse {
                    <li class="disabled"><a href="#">&laquo;</a></li>
                }

                @pages(currentPage)

                @currentPage.next.map { page =>
                <li><a href="@link(page)">&raquo;</a></li>
                }.getOrElse {
                    <li class="disabled"><a href="#">&raquo;</a></li>
                }

            </ul>
        </div>
        <div class="col-sm-6 text-right">

        </div>
    </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
}
