@(currentPage: models.paging.Page[Proposal])(implicit flash: play.api.mvc.Flash)
@import models.paging._
@****************************************
* Helper generating navigation links *
****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.ProposalsController.list(newPage, newOrderBy.map { orderBy =>
            if(orderBy == scala.math.abs(2)) -2 else orderBy
        }.getOrElse(2), "")
    }

    @pages(page: Page[Proposal]) = {
        @for(idx <-1 to page.pageCount) {
            @if(idx==(page.page+1)){
                <li class="active">
            }else{
                <li>
            }
                <a href="@link(idx-1)">@idx</a>
                </li>
        }
    }


@main("GuideMe Proposals") {

    <form action="/proposals" method="POST" class="form-control">
        <!-- input name="id" type="text" placeholder="enter id" hidden="true"/ -->
        <input name="subject" type="text" placeholder="enter subject"/>
        <input name="description" type="text" placeholder="enter description"/>
        <input name="terms" type="text" placeholder="enter terms"/>
        <input name="price" type="number" placeholder="enter price"/>
        <input name="discount" type="number" placeholder="enter discount"/>
        <input name="expires" type="date" placeholder="enter expire date"/>
        <input name="fenceId" type="number" placeholder="enter fenceId"/>
        <input name="fenceId" type="number" placeholder="enter merchantId"/>
        <input type="submit"/>
    </form>

    <h2>Previously inserted proposals:</h2>
    @Option(currentPage.items).filterNot(_.isEmpty).map { proposalsMap =>
    <table class="table">
        <tr><th>id</th> <th>subject</th> <th>description</th> <th>terms</th> <th>price</th> <th>discount</th> <th>expires</th><th>fenceId</th></tr>

        @proposalsMap.map {
            case (p) => {
                <tr><td>@p.id</td> <td>@p.subject</td> <td>@p.description</td> <td>@p.terms</td> <td>@p.price</td> <td>@p.discount</td> <td>@p.expires</td> <td>@p.fenceId</td></tr>
            }
        }
    </table>

    <div class="box-content">
        <div class="col-sm-6">
            <div id="datatable-2_info" class="dataTables_info">Showing @(currentPage.offset + 1) to @(currentPage.offset + proposalsMap.size) of @currentPage.total</div>
        </div>
        <div class="col-sm-6 text-right">
            <ul class="pagination">
                @currentPage.prev.map { page =>
                <li><a href="@link(page)">&laquo;</a></li>
                }.getOrElse {
                    <li class="disabled"><a href="#">&laquo;</a></li>
                }

                @pages(currentPage)

                @currentPage.next.map { page =>
                <li><a href="@link(page)">&raquo;</a></li>
                }.getOrElse {
                    <li class="disabled"><a href="#">&raquo;</a></li>
                }

            </ul>
        </div>
        <div class="col-sm-6 text-right">

        </div>
    </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
}
